footer{
    $width:100%;
    background: $gray-light;
    width: calc(#{$width} + 200px);
    height: 300px;
    margin-left: -100px;
 .icons{
    span{
        font-size: 5rem;
        color: hotpink;
      }
  
      i{
          font-size: 5rem;
          color: hotpink;
      }
  
      p:nth-of-type(1){
          font-size: 5rem;
          background: indianred;
          display: inline-block;
          width: 400px;
          padding: 20px;
          text-align: center;
      }
      p:nth-of-type(1)::after{
          content: '\f218';
          color: indigo;
          font-size: 4rem;
          margin-left: 50px;
      }
 }
    

    .minmax{
        color: complement($color: lawngreen);
        background: lawngreen;
      //  width: 2000px;
        //max-width: 1000px;
        max-width: 400px;
        max-height: 500px;
        padding: 100px;
        margin: 0 auto 300px auto;
    }

    @for $i from 1 through 6 {
    .boot :nth-of-type(#{$i}){
            $color:red;
            background: lighten($color,$i*5%);
            margin-bottom: 50px;
    }
    }
}