* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: white;
  text-decoration: none !important;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: 'Montserrat',"FontAwesome", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: white;
}

/* 
////////////////PRE SET/////////////////////////// */
.nav {
  height: 80px;
  background: transperant;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 9999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 902px) {
  .nav {
    height: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav .brand {
  display: block;
  width: 100px;
  color: black;
  background: orange;
}

@media screen and (max-width: 902px) {
  .nav .brand {
    display: none;
  }
}

.nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: yellow;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 902px) {
  .nav .navbar {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 150px;
    padding: 0;
    overflow: hidden;
  }
}

.nav .navbar ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid green;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
}

@media screen and (max-width: 902px) {
  .nav .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.nav .navbar ul .navitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 5px;
  border: 1px solid orangered;
  padding: 10px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
}

@media screen and (max-width: 902px) {
  .nav .navbar ul .navitem {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 30px;
  }
}

.nav .navbar ul .navitem .navlink {
  color: black;
}

.nav .toggler {
  width: 250px;
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 902px) {
  .nav .toggler {
    display: none;
  }
}

.show {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 170px;
}

.main-wraper {
  display: block;
  background: orange;
  padding: 20px 100px 0 100px;
}

.hero {
  height: 1000px;
  background: green;
  background-image: url("misha.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding: 100px;
  z-index: 2;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero .element {
  background: white;
  margin-top: 100px;
  width: 30%;
  height: 30%;
  z-index: 9999;
}

.section-1 {
  height: 500px;
  background: blue;
  width: calc(100% + 200px);
  margin-left: -100px;
}

.section-2 {
  height: 500px;
  background: gray;
  width: 100%;
}

.section-2 .row div:last-child {
  border: 1px solid red;
}

.section-2 .row div:nth-of-type(3) {
  border: 1px solid yellowgreen;
}

footer {
  background: #cac9c9;
  width: calc(100% + 200px);
  height: 300px;
  margin-left: -100px;
}

footer span {
  font-size: 5rem;
  color: hotpink;
}

footer i {
  font-size: 5rem;
  color: hotpink;
}

footer p {
  font-size: 5rem;
  background: indianred;
  display: inline-block;
  width: 400px;
  padding: 20px;
  text-align: center;
}

footer p::after {
  content: '\f218';
  color: indigo;
  font-size: 4rem;
  margin-left: 50px;
}
/*# sourceMappingURL=main.css.map */