.grid-container{
    background: olive;
    height: 600px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 50px;
    grid-template-areas:  
        "cetiri pet sest"
        "jedan dva tri";
    @media only screen and (max-width: 1100px) {
        grid-template-areas:  
        "cetiri . sest"
        "jedan pet tri";
    }
}

.grid-item{
    background: orangered;
    height: 100%;
    border: 2px solid black;
    color: white;
    font-size: 2rem;
}

.grid-item-1{
    background: green;
    grid-area: jedan;
    justify-self: end;
    width: 70%;
    margin-right: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-item-2{
    background: black;
    grid-area: dva;
    @media only screen and (max-width: 1100px) {
       display: none;
    }
}

.grid-item-3{
    background: yellow;
    grid-area: tri;
}

.grid-item-4{
    background: blue;
    grid-area: cetiri;
}

.grid-item-5{
    background: maroon;
    grid-area: pet;
}
.grid-item-6{
    background: gray;
    grid-area: sest;
}