.first{
   padding: 0;
   margin: 50px auto;
    background: lightseagreen;
    overflow: hidden;
 .boot{
     position: relative;
    // width: 100%;
     max-height: 600px;
     min-width: 900px;
   
     display: flex;
     justify-content: flex-start;

     @for $v from 1 to 6 {
             
    
      div:nth-of-type(#{$v}){
        position: relative;
          max-width: 200px;
          max-height: 600px;
          transition: max-width 0.9s 0.2s;
          border-left: 2px solid wheat;
        p{
            position: absolute;
            top: 40%;
            left: 10px;
            z-index: 9999;
            color: white;
            font-weight: bold;
            font-size: 3rem;
        }
       
     &:hover{
        max-width: 800px;
     }
         img{
           
             object-fit: initial;
             object-position: 0px 0px;
             max-height: 600px;
             min-width: 1000px;
            
         }
     }
    }
 }
    
}